.container {
  width: 70%;
  margin: auto;
}
body {
  background-color: pink;
}
/* ========global======== */

.header-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 67px;
}

.header-avatar {
  margin-left: 213px;
  padding: 17px;
}

.greeting-wrapper {
  padding: 9px;
  margin-left: 5px;
}

.greting1 {
  font-size: 12px;
}

.greting2 {
  font-size: 16px;
  font-weight: bold;
}
/* ===== header =====*/

.top-wrapper {
  background-image: url("../img/bg-1.png");
  background-color: pink;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.text-wrapper {
  padding: 10% 0px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 62px;
  font-weight: 900;
  line-height: 0.82;
  text-transform: uppercase;
  text-align: center;
}

.text-stay-active {
  font-size: 21px;
  font-weight: 600;
  font-style: italic;
}

.top-img {
  margin-top: 67px;
}

.text-button {
  border-radius: 37px;
  box-shadow: 2px 20px 30px 0px rgba(249, 131, 171, 0.5);
  background-color: white;
  padding: 20px 83.5px;
  top: -100px;
  position: relative;
  color: black;
  margin: 0vh 70vh;
}

.text-button:hover {
  cursor: pointer;
  background-color: pink;
}

h5 {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
/* ===== top =====*/
.definition-img {
  align-self: flex-end;
}

.definition-wrapper {
  margin: auto;
  text-align: right;
  font-size: 21px;
  background-color: pink;
}

.definition-text {
  color: black;
  font-weight: 500;
  line-height: 1.52;
  letter-spacing: -0.75px;
  padding: 0px 200px;
}

.definition-team {
  font-weight: 600;
  font-style: italic;
  color: white;
  padding-right: 200px;
}
/* ===== definition =====*/

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-wrapper {
  background: linear-gradient(
    to bottom,
    pink 0%,
    pink 50%,
    pink 50%,
    black 50%,
    black 100%
  );
}

.testimonial-width {
  width: 50%;
}

.testimonial-wrapper-1 {
  display: flex;
}

.testimonial-circle-object {
  width: 80px;
  height: 72px;
  background-color: blue;
  border-radius: 50%;
}

.testimonial-title {
  width: 100%;
  text-align: center;
  left: -40px;
  position: relative;
  align-self: flex-end;
}

.title {
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-shadow: 0px 20px 30px rgba(249, 131, 171, 0.5);
}

.testimonials-text-slider {
  margin: 0px 10px;
}

.BrainhubCarousel__trackContainer {
  margin: 5%;
}
.BrainhubCarouselItem {
  padding: 20px !important;
  background-color: white;
  margin-left: 10px;
  color: black;
  width: 247px !important;
  min-width: 247px !important;
}
.testimonial-h4 {
  font-size: 32px;
  font-weight: 900;
}

.testimonial-p {
  font-size: 12px;
  letter-spacing: -0.43px;
}

.BrainhubCarousel__arrows {
  border-radius: 50% !important;
  background-color: white;
}
.BrainhubCarousel__arrows:disabled {
  opacity: 0.35;
}

span {
  border-color: #0b24fb;
}
/* ===== testimonials =====*/

.povResource-text-wrapper {
  width: 32.3%;
  margin: auto;
  text-align: center;
  padding: 3% 0%;
  color: white;
}
.povResource-wrapper {
  background-color: black;
}

/* ===== pov =====*/

.footer-wrapper {
  background-color: #0b24fb;
  color: white;
  height: 67px;
}

.footer-text-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-text {
}

.footer-version {
  border-radius: 14px;
  border: 1px solid white;
  padding: 2px 8px;
}
/* ===== footer =====*/
